{% extends 'web/basic.html' %}
{% load static %}

{% block title %} 登录 {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/account.css' %}">
    <style>
        .error-msg{
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="account">
    <div class="title">用户登录</div>
        <form id = "regForm" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'username'  %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}

              <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                      <button id="btnSubmit" type="button"  class="btn btn-primary btn-block btn-flat">登录</button>
                    </div>
              </div>
        </form>
    </div>


{% endblock %}


{% block js %}

{% endblock %}

