{% extends 'myadmin/base.html' %}
{% load static %}
{% block main_body %}
    <section class="content-header">
      <h1>
        数据统计
        <small>后台管理系统</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">数据统计</li>
      </ol>
    </section>
      <!-- Main content -->
    <section class="content container-fluid">
    <div class="panel panel-default" >
        <div class="panel-heading" >折线图</div>
{#        <div class="panel-body">#}
{#            兔兔兔#}
{#        </div>#}
        <div id="main" style="width: 500px;height:400px;">
        </div>
    </div>
  <!-- 为 ECharts 准备一个定义了宽高的 DOM -->



    </section>

{% endblock %}


{% block js_body %}
{#  <script src="echarts.js" ></script>#}
    <script src="{% static 'myadmin/js/echarts.js'%}"></script>
  <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
          data: ['销量','业绩']
        },
        xAxis: {
          data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
        },
        yAxis: {},
        series: [
          {
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
          },
          {
            name: '业绩',
            type: 'bar',
            data: [5, 20, 360, 10, 100, 200]
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
{% endblock %}
