{% extends 'myadmin/base.html' %}

{% block main_body %}

      <form action="/" method="post" name="user-form" enctype="multipart/form-data" class="form-horizontal">
        <section class="content-header" style="padding-bottom: 10px !important;">
          <ol class="breadcrumb-left" style="overflow: hidden;">
            <li><a href="./index.html"><i class="fa fa-dashboard">首页</i></a></li>
            <li><a href="#">账户中心</a></li>
            <li class="active">更新密码</li>
          </ol>

        </section>

        <section class="content">

          <div class="row">
            <div class="col-md-12">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab">更新密码</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                      <!--原始密码-->
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="newPasswordInputId">
                          新设密码
                          <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                          <input id="newPasswordInputId" type="password" name="newPassword" class="form-control">
                        </div>
                        <span class="col-sm-6 text-danger" style="padding-left:0px;line-height:34px;">必填！</span>
                      </div>
                      <!--新的密码-->
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="oldPasswordInputId">
                          原始密码
                          <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                          <input id="oldPasswordInputId" type="password" name="oldPassword" class="form-control">
                        </div>
                        <span class="col-sm-6 text-danger" style="padding-left:0px;line-height:34px;">必填！</span>
                      </div>
                      <!--确认密码-->
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="confirmPasswordInputId">
                          确认密码
                          <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                          <input id="confirmPasswordInputId" type="password" name="confirmPassword" class="form-control">
                        </div>
                        <span class="col-sm-6 text-danger" style="padding-left:0px;line-height:34px;">必填！</span>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab_2">
                    <div class="box-body">
                      <!--文档标题-->
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="documentTitleInputId">
                          文档标题
                          <span class="text-danger my-hide">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                          <input id="documentTitleInputId" type="text" name="document_title" class="form-control">
                        </div>
                        <span class="col-sm-6 text-danger my-hide" style="padding-left:0px;line-height:34px;">必填！</span>
                      </div>
                      <!--文档关键词-->
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="documentKeywordsInputId">
                          文档关键词
                          <span class="text-danger my-hide">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                          <input id="documentKeywordsInputId" type="text" name="document_keywords" class="form-control">
                        </div>
                        <span class="col-sm-6 text-danger my-hide" style="padding-left:0px;line-height:34px;">必填！</span>
                      </div>
                      <!--文档作者-->
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="documentDescriptionInputId">
                          文档作者
                          <span class="text-danger my-hide">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                          <textarea id="documentDescriptionInputId" class="form-control" rows="5" cols="35"></textarea>
                        </div>
                        <span class="col-sm-6 text-danger my-hide" style="padding-left:0px;line-height:34px;">必填！</span>
                      </div>
                      <!--文档描述-->

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
      </form>

{% endblock %}
